*.pyc
settings_local.py
tmp
venv
.venv
venv_linux
.venv_linux
# Mac
.DS_Store
._*
patsdb*
# assets
public/static
public/media
static_src/remote

# dev
.vscode
.env
node_modules
Procfile
webpack-stats.json